@media (min-width:786px){
  .form {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
  }
  
  .input {
      margin-bottom: 0;
  }
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color: white;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
  text-align: center;
}

.card--image {
  margin: 0 auto;
  display: block
}
.center {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}